@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/build/scss/AdminLTE-raw.scss";

h1 {
  color: blue;
}

.color-palette {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html, body { min-height: 100%; }
a { text-decoration: none; }
a:hover {
  text-decoration: none !important;
}
.main-header {
  background: linear-gradient(#6d7fcc, #211e44);
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  
}

.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  /* background: #3B3B3B; */
  background: #343a40;
  overflow-y: auto;
  transition: width 0.3s ease;
}
.main-nav a {
  display: block;
  /* background: linear-gradient(#6d7fcc, #6660c2); */
  /* background: linear-gradient(#656d75, #343a40); */
  background-color: #343a40;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: #999;
  padding: 15px;
  
}

.main-nav a:hover {
  color: #fff;
  background: linear-gradient(#656d75, #14171a);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
}

.main-content {
  margin:10vh 0vh 10vh 0vh;
}
.open-menu{
  margin-top: -20px;
}
.close-menu {
  margin-top: -20px;
  display: none;
}
.sidebar-header{
    color: #999;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #343a40;
}
a[data-toggle="collapse"] {
  position: relative;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:#656d75 !important;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-20%);
}

#main-nav:target {
  width: 20%;
}
#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap  .open-menu {
  display: none; 
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap  .main-header {
  width: 80%;
  left: 20%;
}
.background{
  margin-top: 15vh;
  padding:10px;
}
.example i{
  color: white; 
}
.example .input-group-text{
  background-color: #4d5dac
}
.checked {
  color: orange
}
#post-store{
  padding: 15px ;
}
#post-store .col-4{
  padding-bottom: 15px;
}
.page-wrap .main-header a i{
  display: block;
  margin: auto
}
/* ====profile*/
.image_outer_container{
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container{
  border-radius: 50%;
  padding: 5px;
  background: #833ab4; 
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
}
.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 25%;
  bottom: 0px;
  height: 15px;
  width: 15px;
  border:2px solid white;
  border-radius: 50%;
}
.list-unstyled li a:hover{
  text-decoration: none;
  /* font-size: large; */
}
.showgift{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  grid-gap: 2fr;
  justify-content: space-between;
}
.btn-coupon{
  margin: 10px auto;
  color: #222;
  position: relative;
  background-color: #ebf7f7;
  border: 1px solid #bad3d3;
  text-align: right;
  overflow: hidden;
  width: 170px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 3px;
  max-width: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.coupon-text:hover{
  right: 40px;
  padding-left: 15px;
}
.coupon-code{
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.coupon-text{
  height:40px;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: 300px;
  right: 30px;
  padding-left: 5px;
  background-color: #088dbb;
  color: #fff;
  display: block;
  text-align: center;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}
.coupon-text::before{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: ' ';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 21px solid #008ddb;
    border-left: 10px solid #008ddb;
    left: 100%;
    top: 0;
}
.coupon-text::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  content: ' ';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 13px solid #006eac;
  border-bottom: 28px solid transparent;
  right: 0;
  top: 0;
  z-index: 1;
  transform: rotate(-27deg);
  -webkit-transform: rotate(-27deg);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
}
.pagination-status{
  display: flex;
  list-style: none;
  justify-content: center;
}
.pagination-status .pagination-status__btn {
  position: relative;
  padding: 6px 12px;
  margin:auto;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.chartjs-render-monitor{
  overflow-x: hidden;
}
.search{
  border-radius: 25px
}
/* post */
.card {
  max-width: 345;
}
.media {
  height: 0;
  padding-top: 56.25%; 
}
.expand {
  transform: rotate(0deg);
  margin-left: auto;
  transition: transform;
}
.expandOpen {
  transform: rotate(180deg);
}
.avatar {
  background-color: red;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(80,144,247);
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
  text-decoration: none;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #32465B;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
/* Danh muc */
h4.title{
  color: #333;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #28A745;
  position: relative;
  align-items: center;
}
h4.title span{
  background: #28A745;
  border: none;
  color: #fff;
  display: inline-block;
  padding: .3em .8em;
}
/* card index */
._list_store {
  width: 100%;
  position: relative;
  float: left;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  width: 250px;
}   
.time_store div {
  padding: 2px 12px;
  margin-top: 2px;
  width: 130px;
}
.time_store label {
  /* background-image: url(/static/web/img/xopened_door.png.pagespeed.ic.nKB4ZcFefz.webp); */
  width: 20px;
  height: 9.56px;
  position: relative;
  margin: 0 1px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
._info_res {
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
}
.logo_store {
  width: 30%;
  float: left;
}
.thumbnail a>img {
  margin-right: auto;
  margin-left: auto;
}
.name_store_list a, .name_store_list a:hover, .name_store a, .name_store a:hover {
  font-size: 13px;
  font-weight: bold;
  font-display: auto;
  text-decoration: none;
  color: #2e2e2e;
}
._location {
  color: #1081e0;
  padding-right: 5px;
}
.font_defaul {
  font-size: 12px;
}
.u-logo img{
  width:30px;
}
.block-img img{
  width: 240px;
}
/* preferential */
._list_store_detail {
  margin-bottom: 15px;
  background-color: #fff;
}
.box_shadow_df, .wapper_slider_store, ._list_store_detail, .box_oper_point {
  box-shadow: rgba(45,45,45,.05) 0 0 0 , rgba(49,49,49,.05) 0 1px 1px , rgba(42,42,42,.05) 0 2px 2px , rgba(32,32,32,.05) 0 4px 4px , rgba(49,49,49,.05) 0 8px 8px , rgba(35,35,35,.1) 0 16px 16px!important;
  transform: translate(0,-2px)!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-display: auto;
}
._list_store {
  width: 24%;
  position: relative;
  float: left;
}
.box_pr {
  height: 150px;
}
.gift {
  position: absolute;
  background-color: #2148f5;
  padding: 3px 8px;
  border-radius: 15px;
  color: #fff;
  top: 10px;
  left: 10px;
}
.time_gift {
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 5px;
  font-size: 12px;
  top: 45px;
  font-family: font-menu;
  left: 10px;
}
.time_gift i {
  padding-left: 10px;
}
.time_gift span {
  color: #2e2e2e;
  padding: 1px 4px;
  font-size: 12px;
}
.hidden {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.hidden:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.item-hover-show-text-info {
  display: none;
}
.campain a {
  color: #333;
  text-decoration: none;
}
.box_1 {
  background-color: #fff;
  padding: 12px 21px 0 20px;
  font-size: 12px!important;
  color: #2e2e2e;
  min-height: 170px;
  line-height: 1.7;
}
.thum-content-text {
  padding-top: 13px;
}
.caption {
  padding: 10px 16px;
}
.info_res {
  background-color: #fff;
}
.info_res .col-md-10, ._info_res .col-md-10 {
  border-right: 1px solid #dcdcdc;
}
.pd8 {
  padding: 5px 0;
  height: 50px;
}
.pull-left {
  float: left;
}
.use-info {
  width: 20%;
}
.info_store {
  padding-left: 6px;
}
.info_store {
  width: 75%;
  padding-left: 10px;
  float: left;
}
.info_store {
  width: 80%;
}
.pull-left {
  float: left!important;
}
.name_store {
  font-size: 12px;
  font-weight: bold;
  font-display: auto;
}
.no_margin {
  margin: 0!important;
}
.name_store a h5 {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}
.font_defaul {
  font-size: 12px;
}
.address {
  color: #707070;
}
/* .pd10 {
  padding: 10px 0;
} */
.point {
  padding-left: 10px!important;
}
.point i {
  font-size: 9px!important;
}
.number_count {
  font-size: 12px;
  color: #2e2e2e;
}
.title_caption {
  background-color: #42a4dc;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
._title_caption {
  font-size: 12px;
  font-weight: bold;
  font-display: auto;
  color: #2e2e2e;
  padding-left: 6px;
}
a:hover {
  text-decoration: none
}
.mapboxgl-map {
  width: 85vw !important;
  height: 80vh !important;
}
img.location-btn {
  margin-left: 80vw;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.location-icon img {
  width: 60px;
  height: 60px;
}
.mce-notification {display: none !important;}
.message {
  overflow: hidden;
}

.balon1 {
  float: right;
  background: #35cce6;
  border-radius: 10px;
}

.balon2 {
  float: left;
  background: #f4f7f9;
  border-radius: 10px;
}
